<div id="{{ROOT_ID}}" class="nrc-root">
  <div class="nrc-header">
    <div class="nrc-title">{{TITLE}}</div>
    <div class="nrc-meta">
      <a class="nrc-link" href="{{JSON_HREF}}" target="_blank" rel="noopener">JSON</a>
      <a class="nrc-link" href="{{RSS_HREF}}" target="_blank" rel="noopener">RSS</a>
    </div>
  </div>
  <div class="nrc-filters" data-role="filters"></div>
  <div class="nrc-status" data-role="status">Loading...</div>
  <div class="nrc-list" data-role="list"></div>
</div>
